<header>
  <div class="logo-title-div">
    
    <div class="site-title-div">
        <div class="site-logo">
            <img src="{{ site.base_url }}/img/face_logo.png">
          </div>
      <h1 class="site-title"><a href="{{ site.base_url }}">MICSECS 2018</a></h1>
      <div class="site-title-second-line">
        <h1>The Majorov International Conference on Software Engineering and Computer Systems</h1>
        <h1>ITMO University, Saint Petersburg, Russia, 18-19th December 2018</h1>
      </div>
    </div>
  </div>
  <nav class="main-nav">
    <a href="#" class="opener show-on-mobiles">...</a>
    <div class="clear-opener show-on-mobiles"></div>
    <div class="grid">
      <ul>
        <li><a href="{{site.base_url}}/index.html"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="{{site.base_url}}/call.html"><i class="fa"></i>Call For Papers</a></li>
        <li><a href="{{site.base_url}}/hackathon.html"><i class="fa"></i>Hackathon</a></li>
        <li><a href="{{site.base_url}}/organization.html"><i class="fa"></i>Organization</a></li>
        <li><a href="{{site.base_url}}/registration.html"><i class="fa"></i>Registration</a></li>
        <li><a href="{{site.base_url}}/contacts.html"><i class="fa"></i>Contacts</a></li>
      </ul>
    </div>
  </nav>
</header>